.advantages {
  &__list {
    @include list;
    background-color: $third-color-primary;
  }

  &__title {
    color: $text-color-sold;

    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  &__text {
    line-height: 24px;
  }
}
