.page-header {
  overflow: hidden;

  background-color: $backround-opacity-color;

  @media (max-width: $not-desktop-width) {
    padding-bottom: 271px;

    background-image: url("../img/background/promo-background-medium.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    @supports (background-image: url("../img/background/promo-background-medium.webp")) {
      background-image: url("../img/background/promo-background-medium.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/promo-background-medium@2x.jpg");

      @supports (background-image: url("../img/background/promo-background-medium@2x.webp")) {
        background-image: url("../img/background/promo-background-medium@2x.webp");
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 114px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 125px;

    background-image: url("../img/background/promo-background-large.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    @supports (background-image: url("../img/background/promo-background-large.webp")) {
      background-image: url("../img/background/promo-background-large.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/promo-background-large@2x.jpg");

      @supports (background-image: url("../img/background/promo-background-large@2x.webp")) {
        background-image: url("../img/background/promo-background-large@2x.webp");
      }
    }
  }

  &--catalog {
    @media (max-width: $not-desktop-width) {
      padding-bottom: 76px;
    }

    @media (min-width: $tablet-width) {
      padding-bottom: 129px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 53px;
    }
  }

  &--form {
    @media (max-width: $not-desktop-width) {
      padding-bottom: 43px;
    }

    @media (min-width: $tablet-width) {
      padding-bottom: 61px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 53px;
    }
  }

  &__nav {
    background-color: rgba($color: #000000, $alpha: 0.3);

    @media (max-width: $mobile-width-only) {
      margin-bottom: 22px;

      .page-header--catalog &,
      .page-header--form & {
        margin-bottom: 27px;
      }
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 74px;

      .page-header--catalog &,
      .page-header--form & {
        margin-bottom: 65px;
      }
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 99px;

      .page-header--catalog &,
      .page-header--form & {
        margin-bottom: 59px;
      }
    }
  }

  &__nav--opened {
    background-color: $color-gray-850;
  }

  &__wrapper {
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1000px;
    margin: 0 auto;

    @media (max-width: $mobile-width-only) {
      grid-template-columns: 74px 1fr 70px;

      padding-top: 15px;
      padding-bottom: 17px;
    }

    @media (min-width: $tablet-width) {
      grid-template-columns: 145px 1fr 70px;

      padding-top: 27px;
      padding-bottom: 43px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 147px 1fr;
      padding: 0 30px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    @media (min-width: $desktop-width) {
      position: relative;
      top: -8px;
    }
  }

  &__toggler {
    position: relative;

    &:hover {
      color: $color-pink-650;
    }

    &:active {
      opacity: 0.3;
    }

    @media (max-width: $not-desktop-width) {
      grid-column: 3/4;
      width: 80px;
      height: 36px;

      background-color: transparent;
      border: none;

      .page-header__nav--closed &::before {
        @include pseudo;

        top: 6px;
        right: 10px;
        width: 50px;
        height: 4px;
        background-color: $color-white;
        box-shadow: 0 10px 0 0 $color-white, 0 20px 0 0 $color-white;

        @media (min-width: $tablet-width) {
          top: 16px;
        }
      }

      .page-header__nav--opened &::before,
      .page-header__nav--opened &::after {
        @include pseudo;

        right: 7px;
        top: 18px;

        width: 29px;
        height: 3px;

        background-color: $color-white;
      }

      .page-header__nav--opened &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      .page-header__nav--opened &::after {
        transform: rotate(-45deg);
      }
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &__list {
    @media (max-width: $not-desktop-width) {
      .page-header__nav--closed & {
        display: none;
      }

      .page-header__nav--opened & {
        position: absolute;
        left: 0;
        right: 0;
        top: 110px;
        z-index: 2;

        display: block;
      }
    }

    @media (max-width: $mobile-width-only) {
      .page-header__nav--opened & {
        top: 68px;
      }
    }

    @media (min-width: $desktop-width) {
      position: relative;
      left: 39.5px;
    }
  }

  &__promo {
    @media (min-width: $tablet-width) and (max-width: $not-desktop-width) {
      padding-top: 18px;
      margin-left: 0;
      margin-right: auto;
      margin-bottom: 31px;

      .page-header--catalog &,
      .page-header--form & {
        padding-top: 0;
        margin: 0 auto;
      }
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 35px;
    }
  }

  &__download {
    @media (max-width: $mobile-width-only) {
      position: absolute;
    }

    @media (min-width: $tablet-width) {
      position: relative;
      z-index: 1;
    }

    @media (min-width: $tablet-width) and (max-width: $not-desktop-width) {
      margin-right: auto;
      margin-left: 0;
      padding-right: 0;
    }
  }
}
