.page-main {
  &--form {
    @media (min-width: $tablet-width) {
      margin-bottom: 48px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &__heading {
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 40px;
      line-height: normal;

      .page-header--catalog &,
      .page-header--form & {
        font-size: 50px;
      }
    }

    @media (min-width: $desktop-width) {
      font-size: 50px;
    }
  }

  &__subheading {
    text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 18px;
    }
  }

  &__wrapper {
    background-image: linear-gradient(176.8deg, $color-white 361px, $color-gray-50 361px);

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(176.4deg, $color-white 378px, $color-gray-50 378px);
    }
  }
}
