.promo {
  position: relative;

  // .page-header--catalog &,
  // .page-header--form & {
  //   display: flex;
  //   flex-direction: column;
  // }

  @media (min-width: $tablet-width) {
    width: 48.4%;

    .page-header--catalog & {
      width: 60.4%;
    }

    .page-header--form & {
      width: 80.4%;
    }
  }

  @media (min-width: $desktop-width) {
    width: auto;
    display: flex;
    flex-direction: column;

    .page-header--catalog & {
      width: 48.4%;
      justify-content: center;
    }
  }

  &__wrapper {
    @media (min-width: $desktop-width) {
      width: 300px;
    }
  }

  &__heading {
    margin: 0;

    color: $color-white;
    text-align: center;

    .page-header--catalog &,
    .page-header--form & {
      line-height: normal;
      padding: 0;

      @media (min-width: $tablet-width) {
        max-width: none;
      }
    }

    @media (max-width: $mobile-width-only) {
      margin-bottom: 315px;
      padding: 0 20px;
      line-height: 120%;

      .page-header--catalog &,
      .page-header--form & {
        margin-bottom: 0;
      }
    }

    @media (min-width: $tablet-width) {
      position: relative;
      z-index: 1;

      max-width: 336px;
      padding: 0 35px 0 54px;

      line-height: 120%;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      padding-right: 26.5px;
      padding-left: 26.5px;

      font-size: 50px;
      line-height: normal;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;

    @media (max-width: $mobile-width-only) {
      bottom: -315px;
    }

    @media (min-width: $tablet-width) {
      bottom: -384px;

      max-width: none;
      width: 660px;
      height: 545px;
    }

    @media (min-width: $desktop-width) {
      bottom: -438px;
      left: 47px;

      width: 1050px;
      height: 645px;
    }
  }
}
