.reviews {
  padding: 0;
  padding-top: 40px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
  }

  &__wrapper {
    @media (min-width: $desktop-width) {
      position: relative;
    }
  }

  &__list {
    @include list;

    @media (min-width: $desktop-width) {
      &::before {
        content: "";
        display: block;
        width: 79px;
        height: 63px;
        margin: 0 auto;
        margin-bottom: 49px;

        background-image: url("../img/index/quotes.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &__item {
    display: none;

    &--active {
      display: flex;
    }
  }

  &__arrows {
    display: none;

    @media (min-width: $desktop-width) {
      position: absolute;
      top: 141px;

      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__arrow {
    color: rgba($color: $color-gray-850, $alpha: 0.3);

    :hover {
      color: rgba($color: $color-gray-850, $alpha: 0.6);
    }

    :active {
      color: rgba($color: $color-gray-850, $alpha: 0.1);
    }

    &--right {
      transform: rotate(180deg);
      position: relative;
      top: -10px;
      right: 60px;
    }
  }
}
