.reviews {
  padding: 0;

  text-align: center;

  &__wrapper {
    @media (min-width: $desktop-width) {
      position: relative;
    }
  }

  &__list {
    @include list;

    @media (min-width: $desktop-width) {
      &::before {
        content: "";
        display: block;
        width: 79px;
        height: 63px;
        margin: 0 auto;
        margin-bottom: 49px;

        background-image: url("../img/index/quotes.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &__item {
    display: none;

    &--active {
      display: flex;
    }
  }

  &__toggles {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 23px;
    height: 23px;
    padding: 0;

    background-color: transparent;
    border: 0;

    &::before {
      content: "";
      display: block;
      width: 12px;
      height: 12px;

      background-color: rgba($color: $color-gray-850, $alpha: 0.3);
      border-radius: 50%;
      border: 3px solid $color-white;
    }

    &--active {
      &::before {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: transparent;
        border: 3px solid $color-gray-850;
      }
    }

    &:hover::before {
      background-color: $color-gray-850;
    }

    &:active::before {
      background-color: rgba($color: $color-gray-850, $alpha: 0.1);
    }
  }

  &__arrows {
    position: absolute;
    top: 141px;

    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__arrow {
    color: rgba($color: $color-gray-850, $alpha: 0.3);

    :hover {
      color: rgba($color: $color-gray-850, $alpha: 0.6);
    }

    :active {
      color: rgba($color: $color-gray-850, $alpha: 0.1);
    }

    &--right {
      transform: rotate(180deg);
      position: relative;
      top: -10px;
      right: 60px;
    }
  }
}
