.page {
  min-width: 320px;
  height: 100%;

  color: $color-gray-850;

  font-family: $font-body;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  &__header {
    @media (min-width: $tablet-width) {
      margin-bottom: 45px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 62px;
    }
  }

  &__body {
    min-height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
  }

  &__body-header-wrapper {
    background: url("../img/background-promo.jpg") no-repeat center;
    background-size: cover;
  }
}
