.button {
  color: $color-pink-650;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;

  border: 3px solid $color-pink-650;
  border-radius: 30px;

  @media (max-width: $mobile-width-only) {
    display: block;
  }

  &--secondary {
    color: $color-white;
    border-color: $color-white;
    background-color: $color-gray-900;
  }

  &--cancel {
    color: $color-gray-150;
    border-color: $color-gray-150;
    background-color: transparent;
  }

  &--form {
    color: $color-white;
    text-transform: uppercase;
    line-height: 30px;

    border-radius: 1px;
    border: 2px solid $color-gree-dark;
    background: $color-gree-dark;
  }
}
