.button-form {
  color: $color-white;

  font-family: $font-body;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;

  background-color: $fourth-color-primary;
  border: 2px solid $fourth-color-primary;
  border-radius: 1px;
}
