.button {
  color: $color-pink-650;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;

  border: 3px solid $color-pink-650;
  border-radius: 30px;

  &:hover {
    background-color: $color-pink-650;
    color: $color-white;
  }

  &:active {
    background-color: $color-pink-650;
    color: rgba($color: $color-white, $alpha: 0.3);
  }

  @media (max-width: $mobile-width-only) {
    display: block;
    width: 100%;
  }

  &--secondary {
    color: $color-white;
    border-color: $color-white;
    background-color: $color-gray-900;

    &:hover {
      background-color: $color-white;
      color: $color-pink-650;
    }

    &:active {
      color: rgba($color: $color-pink-650, $alpha: 0.3);
    }
  }

  &--cancel {
    color: rgba($color: $color-gray-850, $alpha: 0.1);
    border-color: rgba($color: $color-gray-850, $alpha: 0.1);
    background-color: transparent;

    &:hover {
      color: rgba($color: $color-gray-850, $alpha: 0.3);
      border-color: rgba($color: $color-gray-850, $alpha: 0.3);
      background-color: transparent;
    }

    &:active {
      color: rgba($color: $color-white, $alpha: 0.3);
      border-color: rgba($color: $color-gray-850, $alpha: 0);
      background-color: rgba($color: $color-gray-850, $alpha: 0.3);
    }
  }

  &--form {
    padding: 15px;
    color: $color-white;
    text-transform: uppercase;
    line-height: 30px;

    border-radius: 1px;
    border: 2px solid $color-gree-dark;
    background: $color-gree-dark;

    @media (min-width: $tablet-width) {
      padding: 15px 56px;
    }
  }

  &--standart {
    padding: 15px;
  }
}
