.container {
  width: 280px;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    width: 100%;
    max-width: 660px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 980px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1000px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

