.site-menu {
  @include list;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;

  @media (max-width: $desktop-width) {
    background-color: $second-color-primary;
    text-align: center;
  }


  &__item {
    @media (max-width: $desktop-width) {
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.15) inset;
      border-top: 1px $color-black solid;

      &:last-child {
        border-bottom: 1px solid $color-black;
      }
    }
  }

  &__link {
    display: block;

    color: $color-white;
    text-decoration: none;

    @media (max-width: $desktop-width) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}
