.social {
  @include list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 11px 11px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 51px;
    height: 51px;

    border-radius: 50%;
    border: 3px solid rgba($color: $color-gray-850, $alpha: 0.1);

    &:hover {
      border-color: rgba($color: $color-gray-850, $alpha: 1);
    }

    &:active {
      opacity: 0.3;
      border: 3px solid rgba($color: $color-gray-850, $alpha: 0.3);
    }
  }
}
